<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 主页示例模板二</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layui/css/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">

        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    访问量
                    <span class="layui-badge layui-bg-blue layuiadmin-badge">周</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font">9,999,666</p>
                    <p>
                        总计访问量
                        <span class="layuiadmin-span-color">88万 <i class="layui-inline layui-icon layui-icon-flag"></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    下载
                    <span class="layui-badge layui-bg-cyan layuiadmin-badge">月</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font">33,555</p>
                    <p>
                        新下载
                        <span class="layuiadmin-span-color">10% <i class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    收入
                    <span class="layui-badge layui-bg-green layuiadmin-badge">年</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">

                    <p class="layuiadmin-big-font">999,666</p>
                    <p>
                        总收入
                        <span class="layuiadmin-span-color">*** <i class="layui-inline layui-icon layui-icon-dollar"></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    活跃用户
                    <span class="layui-badge layui-bg-orange layuiadmin-badge">月</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">

                    <p class="layuiadmin-big-font">66,666</p>
                    <p>
                        最近一个月
                        <span class="layuiadmin-span-color">15% <i class="layui-inline layui-icon layui-icon-user"></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm12">
            <div class="layui-card">
                <div class="layui-card-header">
                    访问量
                    <div class="layui-btn-group layuiadmin-btn-group">
                        <a href="javascript:;" class="layui-btn layui-btn-primary layui-btn-xs">去年</a>
                        <a href="javascript:;" class="layui-btn layui-btn-primary layui-btn-xs">今年</a>
                    </div>
                </div>
                <div class="layui-card-body">
                    <div class="layui-row">
                        <div class="layui-col-sm8">
                            <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-pagetwo">
                                <div carousel-item id="LAY-index-pagetwo">
                                    <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-sm4">
                            <div class="layuiadmin-card-list">
                                <p class="layuiadmin-normal-font">月访问数</p>
                                <span>同上期增长</span>
                                <div class="layui-progress layui-progress-big" lay-showPercent="yes">
                                    <div class="layui-progress-bar" lay-percent="30%"></div>
                                </div>
                            </div>
                            <div class="layuiadmin-card-list">
                                <p class="layuiadmin-normal-font">月下载数</p>
                                <span>同上期增长</span>
                                <div class="layui-progress layui-progress-big" lay-showPercent="yes">
                                    <div class="layui-progress-bar" lay-percent="20%"></div>
                                </div>
                            </div>
                            <div class="layuiadmin-card-list">
                                <p class="layuiadmin-normal-font">月收入</p>
                                <span>同上期增长</span>
                                <div class="layui-progress layui-progress-big" lay-showPercent="yes">
                                    <div class="layui-progress-bar" lay-percent="25%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm4">
            <div class="layui-card">
                <div class="layui-card-header">用户留言</div>
                <div class="layui-card-body">
                    <ul class="layuiadmin-card-status layuiadmin-home2-usernote">
                        <li>
                            <h3>贤心</h3>
                            <p>作为 layui 官方推出的后台模板，从初版的饱受争议，到后续的埋头丰富，逐步占据了国内后台系统应用的主要市场。</p>
                            <span>5月30日 00:00</span>
                            <a href="javascript:;" layadmin-event="replyNote" data-id="7" class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>
                        </li>
                        <li>
                            <h3>诸葛亮</h3>
                            <p>皓首匹夫！苍髯老贼！你枉活九十有六，一生未立寸功，只会摇唇鼓舌！助曹为虐！一条断脊之犬，还敢在我军阵前狺狺狂吠，我从未见过有如此厚颜无耻之人！</p>
                            <span>5月02日 00:00</span>
                            <a href="javascript:;" layadmin-event="replyNote" data-id="5" class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>
                        </li>
                        <li>
                            <h3>胡歌</h3>
                            <p>你以为只要长得漂亮就有男生喜欢？你以为只要有了钱漂亮妹子就自己贴上来了？你以为学霸就能找到好工作？我告诉你吧，这些都是真的！</p>
                            <span>5月11日 00:00</span>
                            <a href="javascript:;" layadmin-event="replyNote" data-id="6" class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>
                        </li>
                        <li>
                            <h3>杜甫</h3>
                            <p>人才虽高，不务学问，不能致圣。刘向十日画一水，五日画一石。</p>
                            <span>4月11日 00:00</span>
                            <a href="javascript:;" layadmin-event="replyNote" data-id="2" class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>
                        </li>
                        <li>
                            <h3>鲁迅</h3>
                            <p>路本是无所谓有和无的，走的人多了，就没路了。。</p>
                            <span>4月28日 00:00</span>
                            <a href="javascript:;" layadmin-event="replyNote" data-id="4" class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>
                        </li>
                        <li>
                            <h3>张爱玲</h3>
                            <p>于千万人之中遇到你所要遇到的人，于千万年之中，时间的无涯的荒野中，没有早一步，也没有晚一步，刚巧赶上了，那也没有别的话好说，唯有轻轻的问一声：“噢，原来你也在这里？”</p>
                            <span>4月11日 00:00</span>
                            <a href="javascript:;" layadmin-event="replyNote" data-id="1" class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="layui-col-sm8">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-sm6">
                    <div class="layui-card">
                        <div class="layui-card-header">本周活跃用户列表</div>
                        <div class="layui-card-body">
                            <table class="layui-table layuiadmin-page-table" lay-skin="line">
                                <thead>
                                <tr>
                                    <th>用户名</th>
                                    <th>最后登录时间</th>
                                    <th>状态</th>
                                    <th>获得赞</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><span class="first">胡歌</span></td>
                                    <td><i class="layui-icon layui-icon-log"> 11:20</i></td>
                                    <td><span>在线</span></td>
                                    <td>22 <i class="layui-icon layui-icon-praise"></i></td>
                                </tr>
                                <tr>
                                    <td><span class="second">彭于晏</span></td>
                                    <td><i class="layui-icon layui-icon-log"> 10:40</i></td>
                                    <td><span>在线</span></td>
                                    <td>21 <i class="layui-icon layui-icon-praise"></i></td>
                                </tr>
                                <tr>
                                    <td><span class="third">靳东</span></td>
                                    <td><i class="layui-icon layui-icon-log"> 01:30</i></td>
                                    <td><i>离线</i></td>
                                    <td>66 <i class="layui-icon layui-icon-praise"></i></td>
                                </tr>
                                <tr>
                                    <td>吴尊</td>
                                    <td><i class="layui-icon layui-icon-log"> 21:18</i></td>
                                    <td><i>离线</i></td>
                                    <td>45 <i class="layui-icon layui-icon-praise"></i></td>
                                </tr>
                                <tr>
                                    <td>许上进</td>
                                    <td><i class="layui-icon layui-icon-log"> 09:30</i></td>
                                    <td><span>在线</span></td>
                                    <td>21 <i class="layui-icon layui-icon-praise"></i></td>
                                </tr>
                                <tr>
                                    <td>小蚊子</td>
                                    <td><i class="layui-icon layui-icon-log"> 21:18</i></td>
                                    <td><i>在线</i></td>
                                    <td>45 <i class="layui-icon layui-icon-praise"></i></td>
                                </tr>
                                <tr>
                                    <td>贤心</td>
                                    <td><i class="layui-icon layui-icon-log"> 09:30</i></td>
                                    <td><span>在线</span></td>
                                    <td>21 <i class="layui-icon layui-icon-praise"></i></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6">
                    <div class="layui-card">
                        <div class="layui-card-header">项目进展</div>
                        <div class="layui-card-body">
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <table id="LAY-index-prograss"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm12">
                    <div class="layui-card">
                        <div class="layui-card-header">用户全国分布</div>
                        <div class="layui-card-body">
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-sm4">
                                    <table class="layui-table layuiadmin-page-table" lay-skin="line">
                                        <thead>
                                        <tr>
                                            <th>排名</th>
                                            <th>地区</th>
                                            <th>人数</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>浙江</td>
                                            <td>62310</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>上海</td>
                                            <td>59190</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>广东</td>
                                            <td>55891</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>北京</td>
                                            <td>51919</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>山东</td>
                                            <td>39231</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>湖北</td>
                                            <td>37109</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="layui-col-sm8">

                                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-pagethree">
                                        <div carousel-item id="LAY-index-pagethree">
                                            <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

<script src="/layui/dist/layui/layui.js"></script>
<script>
    layui.config({
        base: '../layui/dist/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'sample']);
</script>
</body>
</html>









<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <title>layuiAdmin 内容系统 - 文章列表</title>-->
<!--    <meta name="renderer" content="webkit">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">-->
<!--    <link rel="stylesheet" href="/layui/css/layui.css" media="all">-->
<!--    <link rel="stylesheet" href="/layui/dist/style/admin.css" media="all">-->
<!--</head>-->
<!--<body>-->

<!--158465184651-->

<!--&lt;!&ndash;-->
<!--<div class="layui-fluid">-->
<!--    <div class="layui-card">-->
<!--        <div class="layui-form layui-card-header layuiadmin-card-header-auto">-->
<!--            上方搜索框-->
<!--            <div class="layui-form-item">-->
<!--               搜索条件框 &ndash;&gt;-->
<!--                &lt;!&ndash; 用户号-->
<!--                <div class="layui-inline">-->
<!--                    <label class="layui-form-label">用户号</label>-->
<!--                    <div class="layui-input-inline">-->
<!--                        <input type="text" name="userId" placeholder="请输入用户号" autocomplete="off" class="layui-input">-->
<!--                    </div>-->
<!--                </div>-->
<!--                 学号-->
<!--                <div class="layui-inline">-->
<!--                    <label class="layui-form-label">学号</label>-->
<!--                    <div class="layui-input-inline">-->
<!--                        <input type="text" name="studentId" placeholder="请输入学号" autocomplete="off" class="layui-input">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <! 昵称 - -->
<!--                <div class="layui-inline">-->
<!--                    <label class="layui-form-label">昵称</label>-->
<!--                    <div class="layui-input-inline">-->
<!--                        <input type="text" name="nickname" placeholder="请输入昵称" autocomplete="off" class="layui-input">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <!- 邮箱 &#45;&#45;-->
<!--                <div class="layui-inline">-->
<!--                    <label class="layui-form-label">邮箱</label>-->
<!--                    <div class="layui-input-inline">-->
<!--                        <input type="text" name="email" placeholder="请输入邮箱" autocomplete="off" class="layui-input">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <!- 手机号 &#45;&#45;-->
<!--                <div class="layui-inline">-->
<!--                    <label class="layui-form-label">手机号</label>-->
<!--                    <div class="layui-input-inline">-->
<!--                        <input type="text" name="phone" placeholder="请输入手机号" autocomplete="off" class="layui-input">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <&#45;&#45; 搜索 按钮 &#45;&#45;-->
<!--                <div class="layui-inline">-->
<!--                    <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search">-->
<!--                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="layui-card-body">-->
<!--            <!-<div style="padding-bottom: 10px;">&ndash;&gt;-->
<!--            &lt;!&ndash;    <button class="layui-btn layuiadmin-btn-list" data-type="batchdel">删除</button>&ndash;&gt;-->
<!--            &lt;!&ndash;    <button class="layui-btn layuiadmin-btn-list" data-type="add">添加</button>&ndash;&gt;-->
<!--            &lt;!&ndash;</div>&#45;&#45;-->


<!--            <p class="layui-font-30">-->
<!--                这是一个测试界面-->
<!--            </p>-->


<!--            <!-<table id="LAY-app-content-list" lay-filter="LAY-app-content-list">&ndash;&gt;-->
<!--            &lt;!&ndash;    <thead>&ndash;&gt;-->
<!--            &lt;!&ndash;        <tr>&ndash;&gt;-->
<!--            &lt;!&ndash;            &lt;!&ndash; 第一列的多选框按钮 &ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;            <th style="width:50px;">&ndash;&gt;-->
<!--            &lt;!&ndash;                <div class="form-check custom-checkbox checkbox-success check-lg me-3">&ndash;&gt;-->
<!--            &lt;!&ndash;                    <input type="checkbox" class="form-check-input" id="checkAll" required="">&ndash;&gt;-->
<!--            &lt;!&ndash;                    <label class="form-check-label" for="checkAll"></label>&ndash;&gt;-->
<!--            &lt;!&ndash;                </div>&ndash;&gt;-->
<!--            &lt;!&ndash;            </th>&ndash;&gt;-->
<!--            &lt;!&ndash;            <th>学生编号</th>&ndash;&gt;-->
<!--            &lt;!&ndash;            <th>学生姓名</th>&ndash;&gt;-->
<!--            &lt;!&ndash;            <th>年龄</th>&ndash;&gt;-->
<!--            &lt;!&ndash;            <th>性别</th>&ndash;&gt;-->
<!--            &lt;!&ndash;            <th>学院</th>&ndash;&gt;-->
<!--            &lt;!&ndash;            <th>专业</th>&ndash;&gt;-->
<!--            &lt;!&ndash;            &lt;!&ndash;<th>手机</th>&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;            &lt;!&ndash;<th>邮箱</th>&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;            <th>操作</th>&ndash;&gt;-->
<!--            &lt;!&ndash;        </tr>&ndash;&gt;-->
<!--            &lt;!&ndash;    </thead>&ndash;&gt;-->


<!--            &lt;!&ndash;    <tbody>&ndash;&gt;-->
<!--            &lt;!&ndash;        <tr th:each="student:${pageInfo.list}">&ndash;&gt;-->
<!--            &lt;!&ndash;            <td>&ndash;&gt;-->
<!--            &lt;!&ndash;                <div class="form-check custom-checkbox checkbox-success check-lg me-3">&ndash;&gt;-->
<!--            &lt;!&ndash;                    <input th:value="${student.studentId}"  name="chkHistory" type="checkbox"  class="form-check-input" id="customCheckBox2" >&ndash;&gt;-->
<!--            &lt;!&ndash;                    <label class="form-check-label" for="customCheckBox2"></label>&ndash;&gt;-->
<!--            &lt;!&ndash;                </div>&ndash;&gt;-->
<!--            &lt;!&ndash;            </td>&ndash;&gt;-->
<!--            &lt;!&ndash;            <td>&ndash;&gt;-->
<!--            &lt;!&ndash;                <strong>&ndash;&gt;-->
<!--            &lt;!&ndash;                    [[${student.studentId}]]&ndash;&gt;-->
<!--            &lt;!&ndash;                </strong>&ndash;&gt;-->
<!--            &lt;!&ndash;            </td>&ndash;&gt;-->
<!--            &lt;!&ndash;            <td>&ndash;&gt;-->
<!--            &lt;!&ndash;                &ndash;&gt;-->
<!--            &lt;!&ndash;            </td>&ndash;&gt;-->








<!--            &lt;!&ndash;        </tr>&ndash;&gt;-->
<!--            &lt;!&ndash;    </tbody>&ndash;&gt;-->



<!--            &lt;!&ndash;</table>&ndash;&gt;-->
<!--            &lt;!&ndash;<script type="text/html" id="buttonTpl">&ndash;&gt;-->
<!--            &lt;!&ndash;    {{#  if(d.status){ }}&ndash;&gt;-->
<!--            &lt;!&ndash;    <button class="layui-btn layui-btn-xs">已发布</button>&ndash;&gt;-->
<!--            &lt;!&ndash;    {{#  } else { }}&ndash;&gt;-->
<!--            &lt;!&ndash;    <button class="layui-btn layui-btn-primary layui-btn-xs">待修改</button>&ndash;&gt;-->
<!--            &lt;!&ndash;    {{#  } }}&ndash;&gt;-->
<!--            &lt;!&ndash;</script>&ndash;&gt;-->
<!--            &lt;!&ndash;<script type="text/html" id="table-content-list">&ndash;&gt;-->
<!--            &lt;!&ndash;    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>&ndash;&gt;-->
<!--            &lt;!&ndash;    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>&ndash;&gt;-->
<!--            &lt;!&ndash;</script>->-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<script src="/layui/layui.js"></script>-->
<!--<script>-->
<!--    layui.config({-->
<!--        base: '../layui/dist/' //静态资源所在路径-->
<!--    }).extend({-->
<!--        index: 'lib/index' //主入口模块-->
<!--    }).use(['index', 'contlist', 'table'], function(){-->
<!--        var table = layui.table-->
<!--            ,form = layui.form;-->

<!--        //监听搜索-->
<!--        form.on('submit(LAY-app-contlist-search)', function(data){-->
<!--            var field = data.field;-->

<!--            //执行重载-->
<!--            table.reload('LAY-app-content-list', {-->
<!--                where: field-->
<!--            });-->
<!--        });-->

<!--        var $ = layui.$, active = {-->
<!--            batchdel: function(){-->
<!--                var checkStatus = table.checkStatus('LAY-app-content-list')-->
<!--                    ,checkData = checkStatus.data; //得到选中的数据-->

<!--                if(checkData.length === 0){-->
<!--                    return layer.msg('请选择数据');-->
<!--                }-->

<!--                layer.confirm('确定删除吗？', function(index) {-->
<!--                    table.reload('LAY-app-content-list');-->
<!--                    layer.msg('已删除');-->
<!--                });-->
<!--            },-->
<!--            add: function(){-->
<!--                layer.open({-->
<!--                    type: 2,-->
<!--                    title: '添加文章',-->
<!--                    content: 'listform.html',-->
<!--                    maxmin: true,-->
<!--                    area: ['550px', '550px'],-->
<!--                    btn: ['确定', '取消'],-->
<!--                    yes: function(index, layero){-->
<!--                        //点击确认触发 iframe 内容中的按钮提交-->
<!--                        var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");-->
<!--                        submit.click();-->
<!--                    }-->
<!--                });-->
<!--            }-->
<!--        };-->

<!--        $('.layui-btn.layuiadmin-btn-list').on('click', function(){-->
<!--            var type = $(this).data('type');-->
<!--            active[type] ? active[type].call(this) : '';-->
<!--        });-->

<!--    });-->
<!--</script>-->


<!--&ndash;&gt;-->
<!--</body>-->
<!--</html>-->